<script>
  var map;
  require(["esri/map", "esri/dijit/Search", "dojo/domReady!"], function(Map, Search) {
    map = new Map("map", {
      center: [-56.049, 38.485],
      zoom: 3,
      basemap: "streets"
    });

    var search = new Search({
      map: map
    }, "search");
    search.startup();
  });
</script>
<div id="search"></div>
<div id="map"></div>
